.profile__edit-button {
  margin: 0;
  margin-top: 32px;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: #000;
  border: 1px solid white;
  grid-area: edit-btn;
  text-align: center;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: .6;
}

@media screen and (max-width: 650px) {
  .profile__edit-button {
    margin-top: 9px;
    width: 18px;
    height: 18px;
    margin-right: auto;
  }
}