.popup__container {
  margin: 0;
  padding: 0;
  width: 430px;
  height: 330px;
  margin-top: calc((100% - 330px)/2);
  margin-left: calc((100% - 430px)/2);
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 560px) {
  .popup__container {
    width: 282px;
    height: 322px;
    margin-top: 50%;
    margin-left: calc((100% - 282px)/2);
  }
}