.profile__edit-button-image {
  margin: 0;
  padding: 0;
  width: 10px;
  height: 10px;
}

@media screen and (max-width: 650px) {
  .profile__edit-button-image {
    margin-bottom: 2px;
    width: 7.5px;
    height: 7.5px;
  }
}