.pop-up__button-close {
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  left: calc(100% + 8px);
  background-image: url(../../../images/close-btn.svg);
  background-color: #000;
  background-size: cover;
}

.pop-up__button-close:hover {
  cursor: pointer;
  opacity: .6;
}

@media screen and (max-width: 560px) {
  .pop-up__button-close {
    width: 20px;
    height: 20px;
    top: -36px;
    left: calc(100% - 20px);
  }
}