.element {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 362px;
  border-radius: 10px;
  background-color: #fff;
  display: grid;
  grid-template-rows: 282px calc(100% - 282px);
  grid-template-areas: 
  "photo photo"
  "title button";
  gap: 0 30px;
}