.popup__input-profession {
  margin: 0 auto;
  margin-bottom: 48px;
  padding: 0;
  padding-bottom: 12px;
  width: 358px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  outline: none;
}

@media screen and (max-width: 560px) {
  .popup__input-profession {
    width: 238px;
    margin-bottom: 45px;
    font-size: 14px;
    line-height: 17px;
  }
}